@model IEnumerable<DepartmentViewModel>


@foreach (var Department in Model)
{
    <div class=" col-md-4 col-lg-3 ">
        <div class="card card-product">


            <div class="card-body p-3 rounded-top-2 shadow-lg d-flex flex-column justify-content-center align-items-center">

                <div class=" w-100 d-flex justify-content-around ">
                    <span class=" text-dark fw-bolder fs-4">@Html.DisplayNameFor(x => x.Code)</span>
                    <span class="text-muted  fs-3  ">@Html.DisplayFor(E => Department.Code)</span>
                </div>
                <div class="d-flex justify-content-around w-100  ">
                    <span class=" text-dark  fw-bolder fs-4 ">@Html.DisplayNameFor(x => x.Name)</span>
                    <span class="text-muted fs-3 ">@Html.DisplayFor(E => Department.Name) </span>
                </div>

                <span class=" text-dark  fw-bolder mt-3 ">@Html.DisplayNameFor(x => x.DateOfCreation)</span>
                <span class="text-muted">@Html.DisplayFor(E => Department.DateOfCreation) </span>

            </div>



            <div class="card-footer py-1  rounded-bottom-2 p-0 d-flex justify-content-between">
            </div>

            <div class="  d-flex justify-content-around my-1 p-1">
                <partial name="_ButtonsIndexPartial" model="@Department.Id.ToString()" />
            </div>

        </div>
    </div>
}

